.logo {
    height: 50px;
    padding: 0 5px;
}

.container-logo {
    text-align: center;
}

.hamburger, .login {
    height: 48px;
    padding: 8px;
    cursor: pointer;
}

.menu-bar {
    background-color: black;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}

.menu-bar-item {
    padding: 0 10px;
    text-align: center;
    height: 48px;
    line-height: 48px;
    vertical-align: middle;
}

.menu-link > a:hover {
    font-weight: bold;
}

.menu-link > a {
    text-decoration: none;
    color: whitesmoke;
}

.container-main-logo {
    text-align: center;
    margin: 5rem 0 3rem;
}

.middle-link a {
    display: block;
}

.login-screen a {
    display: flex;
    color: whitesmoke;
}
