<article class="search-bar" fxLayout="row" fxLayoutGap="15px">
    <div fxFlex="10%" fxHide.lt-md="true"></div>
    <div fxFlex fxLayout="row">
        <input class="search-input" [(ngModel)]="searchword" (keyup.enter)="startSearch()" fxFlex placeholder="Suchbegriff" type="text"/>
        <button mat-flat-button fxHide.lt-sm="true" (click)="startSearch()"><img class="button-icon" src="./assets/search.png"/>Suche</button>
        <button mat-button fxHide.lt-sm="true" [routerLink]="['/extended-search']"><img class="button-icon" src="./assets/search-extended.png"/>Erweiterte Suche</button>
        <button mat-flat-button fxHide.gt-xs="true" (click)="startSearch()"><img class="button-icon" src="./assets/search.png"/></button>
        <button mat-button fxFlex="0 0 auto" fxHide.gt-xs="true" [routerLink]="['/extended-search']"><img class="button-icon" src="./assets/search-extended.png"/></button>
    </div>
    <div fxFlex="10%" fxHide.lt-md="true"></div>
</article>

<div *ngIf="data != null">
    <app-search-results [resultsOfSearch]="data" [sort]="sort" [filter]="filter"></app-search-results>
</div>

<div *ngIf="noResult">
    <section fxLayout="row">
        <div fxFlex="1 1 auto" fxHide.lt-md="true"></div>

        <article fxFlex.lt-md="1 1 auto" class="no-result-container" fxLayout="column">
            <mat-card class="card-header">
                <div>
                    <label>Ergebnisse</label>
                </div>
            </mat-card>

            <mat-card>
                Es wurden keine Treffer zu Ihrer Suche gefunden!
            </mat-card>

        </article>

        <div fxFlex="1 1 auto" fxHide.lt-md="true"></div>
    </section>
</div>