<form [formGroup]="form" (ngSubmit)="save()">
    <h2 mat-dialog-title>Sammlung editieren</h2>

    <mat-dialog-content>

        <mat-form-field class="example-full-width">
            <input [(ngModel)]="name" formControlName="name" matInput placeholder="Name">
            <mat-error *ngIf="form.get('name').hasError('require') || form.get('name').touched">Bitte Namen eingeben</mat-error>
        </mat-form-field>

    </mat-dialog-content>

    <mat-dialog-actions fxLayout="row" fxLayoutAlign="end">
        <button type="button" mat-raised-button (click)="cancel()">Abbrechen</button>
        <button type="submit" class="save-button" mat-raised-button [disabled]="!form.valid">Speichern</button>
    </mat-dialog-actions>
</form>