<form [formGroup]="form" (ngSubmit)="create()">

    <h2 mat-dialog-title>Objekt hochladen in {{data["colName"]}}</h2>

    <div mat-dialog-content class="error" *ngIf="existingObject">
        {{existingObjectMessage}}
    </div>

    <mat-dialog-content (keydown)="resetExistingObject()">

        <div>
            <h4 mat-subheader>Datei Upload</h4>
            <div class="file-upload-box" [style.border]="fileUploadBorder">
                <!--<h3 mat-subheader>Informationen</h3>-->
                <div *ngIf="!selectedFile">
                    Keine Datei hinzugefügt
                </div>
                <div *ngIf="selectedFile">
                    Name: <label>{{selectedFile.name}}</label>
                </div>
                <div *ngIf="selectedFile">
                    Grösse: <label>{{selectedFileSize}}</label>
                </div>
                <div *ngIf="selectedFile">
                    Mimetype: <label>{{selectedFile.type}}</label>
                </div>

                <button class="mat-raised-button" type="button" style="margin-top:20px" onclick="document.getElementById('file').click();">Durchsuchen</button>
            </div>
        </div>

        <input id="file" type="file" formControlName="file" style="display:none;" name="file" (change)="onFileSelect($event)"/>

        <h4 mat-subheader>Metadaten Felder</h4>

        <mat-form-field class="example-full-width">
            <input matInput formControlName="title" placeholder="Titel" required>
            <mat-error *ngIf="(submitted || form.get('title').touched) && form.get('title').invalid">{{getErrorTitle()}}</mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <input matInput formControlName="creator" placeholder="Autor/Autorin z.B. Nachname1, Vorname1; Nachname2, Vorname2">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <input matInput formControlName="contributor" placeholder="Beteiligte z.B. Nachname1, Vorname1; Nachname2, Vorname2">
        </mat-form-field>

        <mat-form-field class="example-half-width">
            <input matInput formControlName="dateStart" type="number" placeholder="Jahresbeginn" required>
            <mat-error *ngIf="(submitted || form.get('dateStart').touched) && form.get('dateStart').invalid">{{getErrorDateStart()}}</mat-error>
        </mat-form-field>

        <mat-form-field class="example-half-width">
            <input matInput formControlName="dateEnd" type="number" placeholder="Jahresende" required>
            <mat-error *ngIf="(submitted || form.get('dateEnd').touched) && form.get('dateEnd').invalid">{{getErrorDateEnd()}}</mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <input matInput formControlName="publisher" placeholder="Ort: Verlag">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <input matInput formControlName="isbn" placeholder="ISBN">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <input matInput formControlName="signature" placeholder="Signatur" required>
            <mat-error *ngIf="(submitted || form.get('signature').touched) && form.get('signature').invalid">{{getErrorSignature()}}</mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-select placeholder="Format" [formControl]="form.get('format')" required>
                <mat-option *ngFor="let fileType of fileTypeList" [value]="fileType">{{fileType}}</mat-option>
            </mat-select>
            <mat-error *ngIf="(submitted || form.get('format').touched) && form.get('format').invalid">{{getErrorFormat()}}</mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-select placeholder="Sprache" [formControl]="form.get('language')">
              <mat-option *ngFor="let language of languageList" [value]="language.name">{{language.name}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <input matInput formControlName="subject" placeholder="Thema z.B. Muster1; Muster2">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <input matInput formControlName="description" placeholder="Beschreibung">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <input matInput formControlName="rights" placeholder="Rechte" required>
            <mat-error *ngIf="(submitted || form.get('rights').touched) && form.get('rights').invalid">{{getErrorRights()}}</mat-error>
        </mat-form-field>

<!--        <mat-form-field class="example-full-width">-->
<!--            <input matInput formControlName="identifier" placeholder="Identifikator" required>-->
<!--            <mat-error *ngIf="(submitted || form.get('identifier').touched) && form.get('identifier').invalid">{{getErrorIdentifier()}}</mat-error>-->
<!--        </mat-form-field>-->

        <!--Dublin Core Fields which are not used-->
        <!--<mat-form-field class="example-full-width">-->
        <!--<input matInput formControlName="source" placeholder="Quelle">-->
        <!--</mat-form-field>-->

        <!--<mat-form-field class="example-full-width">-->
        <!--<input matInput formControlName="relation" placeholder="Beziehung">-->
        <!--</mat-form-field>-->

        <!--<mat-form-field class="example-full-width">-->
        <!--<input matInput formControlName="coverage" placeholder="Geltungsbereich">-->
        <!--</mat-form-field>-->

    </mat-dialog-content>

    <mat-dialog-actions fxLayout="row" fxLayoutAlign="end">
        <button type="button" mat-raised-button (click)="cancel()">Abbrechen</button>
        <button class="create-button" type="submit" mat-raised-button>Erstellen</button>
    </mat-dialog-actions>

</form>
