.detail-result-container {
    margin: 0 10px;
    /*max-width: 700px;*/
}

.card-header {
    background-color: rgb(232,232,232);
    height: 4rem;
}

.back-link {
    cursor: pointer;
}

form {
    margin:10px 10px;
}

.detail-metadata-block {
    margin-left: 1rem;
}

.detail-metadata {
    display: grid;
    grid-template-columns: auto 1fr;
}

.detail-item-name {
    text-align: left;
    margin-right: 10px;
    font-weight: bold;
}

.xml-export {
    margin: 1rem 0;
}

.link {
    color: steelblue;
    cursor: pointer;
    text-decoration: none;
}

.link:hover {
    background-color: lightgrey;
}

.detail-file-type-img {
    cursor: pointer;
    border: 1px solid lightgrey;
}

.button-icon {
    height: 1rem;
}

mat-card-header {
    margin-bottom: 20px;
}

.card-subtitle-container {
    margin: 10px 0 10px;
}

.mat-flat-button {
    background-color:  whitesmoke;
    color: black;
}

.mat-flat-button:hover {
    background-color: lightgrey;
    color: black;
}
