.example-full-width {
    width: 100%;
}

.save-button{
    /*Stiftungsbibliothek*/
    /*background-color: rgb(255, 183, 86);*/
    background-color: rgb(249, 190, 148);
    color: black;

    /*Kantonsbibliothek*/
    /*background-color: rgb(207, 46, 40);*/
    /*color: whitesmoke;*/
}

.error {
    margin: 10px 0 15px;
    border: 1px solid darkred;
    color: darkred;
    background: rgb(255, 230, 230);
    padding: 10px;
}
