<form [formGroup]="form" (ngSubmit)="save()">

    <h2 mat-dialog-title>Objekt editieren</h2>

    <div mat-dialog-content class="error" *ngIf="existingObject">
        {{existingObjectMessage}}
    </div>

    <mat-dialog-content (keydown)="resetExistingObject()">

            <div style="border: 1px solid darkgray; background: whitesmoke">
                <div style="padding: 0 20px 20px 20px">
                    <div style="margin: 20px 0; font-weight: bolder">Aktuelle Datei</div>
                    <div fxLayout="row">
                        <img style="height:auto;" class="detail-file-type-img" src={{getThumbnail()}}/>
                        <div style="margin-left: 1rem">
                            <div>
                                Name: <label>{{resource["generated_filename"]}}</label>
                            </div>
                            <div>
                                Grösse: <label>{{fileSize}}</label>
                            </div>
                            <div>
                                Mimetype: <label>{{resource["mimetype"]}}</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div style="padding: 0 20px 20px 20px; border-top: 1px solid darkgray">
                    <div *ngIf="choseFile" style="color: red; margin: 20px 0; font-weight: bolder;">Falsches Dateiformat. Nur PDF, JPEG und TIFF erlaubt</div>
                    <div style="margin: 20px 0; font-weight: bolder;" *ngIf="selectedFile">Neue Datei</div>
                    <div *ngIf="selectedFile">
                        Name: <label>{{selectedFile.name}}</label>
                    </div>
                    <div *ngIf="selectedFile">
                        Grösse: <label>{{selectedFileSize}}</label>
                    </div>
                    <div *ngIf="selectedFile">
                        Mimetype: <label>{{selectedFile.type}}</label>
                    </div>

                    <button type="button" style="margin-top:20px" class="mat-raised-button" onclick="document.getElementById('file').click();">Datei ersetzen</button>
                    <button type="submit" style="margin-top:20px" [disabled]="!selectedFile" class="mat-raised-button save-button">Speichern</button>
                </div>
            </div>

        <input type="file" style="display:none;" id="file" name="file" (change)="onFileSelect($event)"/>

        <h4 mat-subheader>Metadaten Felder</h4>

        <mat-form-field>
            <mat-select placeholder="Sammlung" [formControl]="form.get('collectionID')" required>
                <mat-option *ngFor="let collection of collections" [value]="collection.value">{{collection.viewValue}}</mat-option>
            </mat-select>
            <mat-error *ngIf="(submitted || form.get('collectionID').touched) && form.get('collectionID').invalid">{{getErrorColID()}}</mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <input matInput formControlName="title" placeholder="Titel" required>
            <mat-error *ngIf="(submitted || form.get('title').touched) && form.get('title').invalid">{{getErrorTitle()}}</mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <input matInput formControlName="creator" placeholder="Autor/Autorin z.B. Nachname1, Vorname1; Nachname2, Vorname2">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <input matInput formControlName="contributor" placeholder="Beteiligte z.B. Nachname1, Vorname1; Nachname2, Vorname2">
        </mat-form-field>

        <mat-form-field class="example-half-width">
            <input matInput formControlName="dateStart" type="number" placeholder="Jahresbeginn" required>
            <mat-error *ngIf="(submitted || form.get('dateStart').touched) && form.get('dateStart').invalid">{{getErrorDateStart()}}</mat-error>
        </mat-form-field>

        <mat-form-field class="example-half-width">
            <input matInput formControlName="dateEnd" type="number" placeholder="Jahresende" required>
            <mat-error *ngIf="(submitted || form.get('dateEnd').touched) && form.get('dateEnd').invalid">{{getErrorDateEnd()}}</mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <input matInput formControlName="publisher" placeholder="Ort: Verlag">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <input matInput formControlName="isbn" placeholder="ISBN">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <input matInput formControlName="signature" placeholder="Signatur">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-select placeholder="Format" [formControl]="form.get('format')" required>
                <mat-option *ngFor="let fileType of fileTypeList" [value]="fileType">{{fileType}}</mat-option>
            </mat-select>
            <mat-error *ngIf="(submitted || form.get('format').touched) && form.get('format').invalid">{{getErrorFormat()}}</mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-select placeholder="Sprache" [formControl]="form.get('language')">
                <mat-option *ngFor="let language of languageList" [value]="language.name">{{language.name}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <input matInput formControlName="subject" placeholder="Thema z.B. Muster1; Muster2">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <input matInput formControlName="description" placeholder="Beschreibung">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <input matInput formControlName="rights" placeholder="Rechte" required>
            <mat-error *ngIf="(submitted || form.get('rights').touched) && form.get('rights').invalid">{{getErrorRights()}}</mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <input matInput formControlName="identifier" placeholder="Identifikator" required>
            <mat-error *ngIf="(submitted || form.get('identifier').touched) && form.get('identifier').invalid">{{getErrorIdentifier()}}</mat-error>
        </mat-form-field>

        <!--Dublin Core Fields which are not used-->
        <!--<mat-form-field class="example-full-width">-->
        <!--<input matInput formControlName="source" placeholder="Quelle">-->
        <!--</mat-form-field>-->

        <!--<mat-form-field class="example-full-width">-->
        <!--<input matInput formControlName="relation" placeholder="Beziehung">-->
        <!--</mat-form-field>-->

        <!--<mat-form-field class="example-full-width">-->
        <!--<input matInput formControlName="coverage" placeholder="Geltungsbereich">-->
        <!--</mat-form-field>-->

    </mat-dialog-content>

    <mat-dialog-actions fxLayout="row" fxLayoutAlign="end">
        <button mat-raised-button (click)="cancel()" type="button">Abbrechen</button>
        <button class="save-button" mat-raised-button type="submit">Speichern</button>
    </mat-dialog-actions>

</form>
